body {
    background-color: #121212;
}

h1 {
    text-align: center;
    font-family: 'Roboto Mono', Arial, sans-serif;
    font-weight: bold;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: white;
}

.title-container {
    text-align: center;
    font-family: 'Roboto Mono', Arial, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: white;
}

#back-button-audio-page {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-family: 'Roboto Mono', Arial, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: white;
    transition-duration: 0.4s;
    top: 20;
    left: 48;
}

#back-button-audio-page:hover {
    color: red;
}